<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::head">
	

<div th:replace="fragments/header :: menu"></div>
<body>



			<h2>Détail de l'artiste [[${artiste.name}]]</h2>
	<!--/*@thymesVar id="artiste" type="com.audiolibrary.web.model.Artist"*/-->
	<form th:action="@{'/artists/add'}" th:method="POST" id="saveAr">
		<input type="hidden" th:value="${artiste.id}" name="id">
		<div class="container">
			<div class="row">

					<div class="form-group">
						<label for="name" class="form-control-label">Nom</label>
						<input type="text"  name="name" id="name" th:value="${artiste.name}" value="test" class="ember-text-field form-control ember-view">


						<label for="performance" class="form-control-label">Albums</label>


							<!--LISTS ALBUMS-->
						<div class="row">
							<div class="col-lg-10" >
								<div class="list-group" >
									<th:block th:each="album : ${artiste.getAlbums()}">
									<li class="list-group-item"  th:text="${album.title}">Let There Be Rock</li>
									</th:block>
								</div>
							</div>
							<div class="col-lg-2 text-center">
								<div class="list-group text-center">
									<th:block th:each="album : ${artiste.getAlbums()}">
									<a th:href="@{/artists/{id_ar}/album/delete/{id_al}(id_ar=${artiste.id}, id_al=${album.id})}" class="btn-danger list-group-item list-group-item-action"><span class="glyphicon glyphicon-remove"></span></a>
									</th:block>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-lg-10">

								<input form="ajoutAL" type="text" name="title" placeholder="Ajouter un album..." class="form-control ember-text-field ember-view">
							</div>
							<div class="col-lg-2 text-center">
								<button form="ajoutAL" class="btn-success list-group-item list-group-item-action" type="submit" value="">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>

					</div>
				</div>

			</div>
	</form>

			<form id="ajoutAL" th:action="@{/artists/{id}/album(id=${artiste.id})}" method="post"></form>
			<div class="container">
			<div class="row">
				<input form="saveAr" class="btn btn-primary" type="submit" value="Enregistrer">
				<th:block th:if="${artiste.id}">
					<a th:href="@{/artists/{id}/delete(id=${artiste.id})}" class="btn btn-danger">Supprimer</a>
				</th:block>
			</div>
			</div>
			</div>
			</div>
			</form>


	</div>
</body>
</html>